.bg-container {
  min-height: 130vh;
  background-color: lightgrey;
  border-radius: 10px;
  border: solid 1px grey;
  padding: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .bg-container {
    display: flex;
    flex-direction: row;
  }
}
